@use "../../styles/vars";

.button {
  background: transparent;
  border: 2px solid vars.$header-outline;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 400;
  padding: 14px 35px;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  font-family: "Barlow Semi Condensed", sans-serif;
  letter-spacing: 0.2em;
  &:hover {
    background: #fff;
    border-color: #fff;
    color: vars.$dark-text;
  }
}