@use "../../styles/vars";

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid vars.$header-outline;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  max-width: 700px;
  @media screen and (min-width: vars.$breakpoint) {
    border-radius: 10px;
    padding: 16px 20px;
  }
}

.logo {
  height: 50px;
  @media screen and (min-width: vars.$breakpoint) {
    height: 90px;
  }
}

.scoreContainer {
  width: 80px;
  height: 72px;
  background: #f6f6f6;
  color: vars.$score-text;
  border-radius: 4px;
  text-transform: uppercase;
  padding: 14px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 0.7rem;
  @media screen and (min-width: vars.$breakpoint) {
    width: 150px;
    height: 115px;
    font-size: 1rem;
  }
}

.score {
  font-size: 2rem;
  font-weight: 700;
  color: vars.$dark-text;
  @media screen and (min-width: vars.$breakpoint) {
    font-size: 3.5rem;
  }
}